doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Arround me
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='../../assets/stylesheets/site.css')
    body
        include ./partials/navbar.jade

        section.section.no-pad-bot(id='index-banner')
            .row
                .col.s12(id='index-banner', ng-app='mainMap', ng-controller='mapController')
                    ui-gmap-google-map(center='map.center', zoom='map.zoom')

        .container
            section.section
                .row
                    .col.s12.m4
                        .icon-block
                            h2.center.light-blue-text
                                i.mdi-social-public
                            h5.center Explore
                            p.light We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
                    .col.s12.m4
                        .icon-block
                            h2.center.light-blue-text
                                i.mdi-content-add-circle-outline
                            h5.center Create
                            p.light We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
                    .col.s12.m4
                        .icon-block
                            h2.center.light-blue-text
                                i.mdi-social-mood
                            h5.center Communicate
                            p.light We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
    script(src='../../assets/scripts/app.js')