doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Index
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        <!-- build:css ../../assets/stylesheets/combined.css-->
        link(rel='stylesheet',href='../../vendor/materialize/dist/css/materialize.css')
        link(rel='stylesheet', href='../../assets/stylesheets/map.css')
        div
        <!-- endbuild -->
    body

        div(ng-app='mainMap', ng-controller='mapController')
            ui-gmap-google-map(center='map.center', zoom='map.zoom')
    <!-- build:js ../../assets/scripts/combined.js-->
    script(src='../../vendor/jquery/dist/jquery.js')
    script(src='../../vendor/lodash/dist/lodash.js')
    script(src='../../vendor/angular/angular.js')
    script(src='../../vendor/angular-google-maps/dist/angular-google-maps.js')
    script(src='../../assets/scripts/init.js')
    div
    <!-- endbuild -->