doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        block title

        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet',href='../../assets/stylesheets/entypo.css')
        link(rel='stylesheet', href='../../vendor/materialize/dist/css/materialize.min.css')
        link(rel='stylesheet', href='../../assets/stylesheets/site.css')

        block stylesheets
    body
        header
            include ./navigation/navbar

        block content

        block footer

    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/materialize/dist/js/materialize.js')
    script(src='/vendor/react/react.js')
    script(src='../../assets/scripts/main.js')
    block scripts
