nav.light-blue.lighten-1
    .container
        .nav-wrapper
            a.brand-logo(id="logo-container", href='#') Logo
            ul.right.side-nav(id='nav-mobile')
                li.waves-effect.waves-light
                    a(href='#') Link
                li.waves-effect.waves-light
                    a(href='#') Link
                li.waves-effect.waves-light
                    a(href='#') Link
            a.button-collapse(data-activates='nav-mobile', href='#')
                i.mdi-navigation-menu