nav.light-blue.lighten-1
    .container
        .nav-wrapper
            a.brand-logo(id="logo-container", href='#') Arround me
            ul.right.side-nav(id='nav-mobile')
                li.waves-effect.waves-light.hide-on-med-and-down
                    a(href='#') Map
                li.waves-effect.waves-light.hide-on-med-and-down
                    a(href='#') Upload
                li.waves-effect.waves-light.hide-on-med-and-down
                    a(href='/account') Account
                li.waves-effect.waves-light.hide-on-large-only
                    a(href='#')
                        i.mdi-maps-place.left
                        | Map
                li.waves-effect.waves-light.hide-on-large-only
                    a(href='#')
                        i.mdi-file-file-upload.left
                        | Upload
                li.waves-effect.waves-light.hide-on-large-only
                    a(href='#')
                        i.mdi-social-person.left
                        | Account

            a.button-collapse(data-activates='nav-mobile', href='#')
                i.mdi-navigation-menu