extends ../layout

block title
    title Profile

block content
    section.section.no-pad-bot
        .row
            .col.l2.s12
                #card_container

block scripts
    script(src='../../assets/scripts/profile.js')