extends ../layout

block title
    title Sign in

block header
    header
        include ../navigation/mainNav

block content
    section.section
        .container
            .row
                .col.m6.s12#login_container
                    .card
                        .card-content
                            h2.header Sign in
                            form
                                .input-field
                                    i.mdi-communication-email.prefix
                                    input.validate(id='email', type='email')
                                    label(for='email') email
                                .input-field
                                    i.mdi-communication-vpn-key.prefix
                                    input.validate(id='password', type='password')
                                    label(for='password') Password
                                .input-field
                                    button.btn.waves-effect.default-primary-color(type='submit')
                                        | Sign in
                                        i.mdi-content-send.right
                                    a.btn-flat(href='/account/signup') Sign up

block scripts
    script(src='../../assets/scripts/login.js')