doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Sign in
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='../../assets/stylesheets/site.css')
    body
        nav.default-primary-color
            .container
                .nav-wrapper
                    a.brand-logo(id="logo-container", href='/') Around me
        section.section
            .container
                .row
                    .col.m6.s12
                        .card
                            .card-content(ng-controller='LoginController as vm')
                                header
                                    h2.header Sign in
                                .input-field
                                    i.mdi-communication-email.prefix
                                    input.validate(id='email', type='text', ng-model='username')
                                    label(for='email') Username
                                .input-field
                                    i.mdi-communication-vpn-key.prefix
                                    input.validate(id='password', type='password', ng-model='password')
                                    label(for='password') Password
                                .input-field
                                    button.btn.waves-effect.waves-light(ng-click='vm.login(username, password)')
                                        | Sign in
                                        i.mdi-content-send.right
                                    a.btn-flat.waves-effect.waves-teal(href='/account/signup') Sign up
        script(src='../../assets/scripts/app.js')