extends ../layout
block title
    title Upload

block content
    section.section
        .container
            .row
                .col.m6.s12
                    .card
                        .card-content
                            h2.header Upload
                            #upload_container
                                form(encType='multipart/form-data', method='POST', action='/api/images')
                                    input(type='file')
                                    .input-field
                                        button.btn.waves-effect.default-primary-color(type='submit')
                                            | Upload
                                            i.mdi-content-send.right

block scripts
    script(src='/assets/scripts/upload.js')