@import '../../vendor/materialize/dist/css/materialize.css'

.angular-google-map, .angular-google-map-container
  height 60vh

.waves-effect.waves-light-green-lighten-1 .waves-ripple
  background-color: #9ccc65