extends ./navbar

block links
    li.waves-effect.waves-light
        a(href='/upload') Upload
    li.waves-effect.waves-light
        a(href='/profile') Profile
    li.waves-effect.waves-light
        a(href='/auth/facebook') Login with facebook