extends ./navbar

block links
    li.waves-effect.waves-light
        a(href='/upload') Upload
    li.waves-effect.waves-light
        a(href='/account') Account
    li.waves-effect.waves-light
        a(href='/account/signin') Sign in
    li.waves-effect.waves-light
        a(href='/account/signup') Sign up