nav.default-primary-color
    .container
        .nav-wrapper
            a.brand-logo(id="logo-container", href='/') Around me

            ul.right.side-nav(id='nav-mobile')
                block links

            a.button-collapse(data-activates='nav-mobile', href='#')
                i.mdi-navigation-menu