nav.default-primary-color
    .container
        .nav-wrapper
            a.brand-logo(id="logo-container", href='/') Around me
            ul.right
                li.waves-effect.waves-light
                    a(href='/auth/facebook')
                        i.entypo-facebook-squared.left

